---
layout: default
---

<div class="portfolio-item-page">
  <div class="portfolio-description">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>

  <div class="portfolio-image">
    <img id="zoomable-image"
         src="{{ page.thumbnail }}"
         alt="{{ page.title }}"
         data-full-image="{{ page.full_image | default: page.thumbnail }}"
         {% if page.map_id %}data-map-id="{{ page.map_id }}"{% endif %}>
  </div>

  {% if page.map_id %}
  <div id="map-container" data-map-id="{{ page.map_id }}"></div>
  {% endif %}
</div>