---
layout: default
---

<article class="portfolio-item-page">
  <div class="portfolio-description">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>

  <div class="portfolio-image">
    <img src="{{ page.full_image }}" alt="{{ page.title }}" id="zoomable-image">
  </div>
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">

<script>
  lightbox.option({
    'resizeDuration': 200,
    'wrapAround': true
  });

  document.getElementById('zoomable-image').addEventListener('click', function() {
    lightbox.start(this);
  });
</script>